html {
  height: 100%;
  width: 100%;
}

.justify-content-around div {
  flex-basis: 200px;
}
button {
  min-width: 80px;
}
label {
  height: 30px;
  padding-top: 3px;
}
.a {
  /* gap: 25px; */
}

.c {
  position: absolute;
  width: 50px;
  /* margin: 0 auto; */
  top: -45px;
  left: calc(50% - 49px);
}
.d {
  position: relative;
<<<<<<< HEAD:Работа с Bootstrap/style.css
}

.f:hover {
  transition: 1s;
  padding: 0px;
  opacity: 0.8;
  color: red;
 }
=======
}
>>>>>>> 006261c399834b8c80d0a6af6a0cdc76587d90ef:style.css
